body, html {
    min-width: 900px;
}

.heard_top {
    position: fixed;
    z-index: 120;
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255,255,255,0.8) !important;
    border-top: 3px solid #c9151d;
}

.margin_top {
    margin-top: 66px;
}

.logo {
    background-image: url(../images/sprite_base.png);
    width: 102px;
    height: 54px;
}

.top_color {
}

.nav_div {
    overflow: hidden;
}

.nav_div li {
    float: left;
    padding: 0 10px;
    margin: 0 20px;
    font-size: 16px;
    color: #595757;
    line-height: 64px;
    text-align: center;
    list-style: none;
}

.nav_div li a {
    color: #595757;
}

.nav_div ul {
    margin: 0;
    padding: 0 !important;
}

.user_info {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    height: 64px;
    width: 84px;
    text-align: center;
    margin-left: 50px;
}

.info {
    width: 100%;
    display: block;
    font-size: 26px;
    color: #595757;
}

.user_info a {
    color: #595757;
}

.goods_wrap img {
    width: 100%;
    margin-bottom: 30px;
}

.border_show {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.input_box {
    width: 346px;
    float: right;
    overflow: hidden;
    border: 1px solid #a4a4a4;
    height: 35px;
    border-radius: 3px;
    margin-top: 7px;
    margin-top: 30px;
}

.product_input {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    text-indent: 1em;
    font-size: 16px;
    float: left;
}

.search {
    width: 10%;
    height: 100%;
    display: block;
    float: left;
    text-align: center;
    line-height: 35px;
}

.bg_banner {
    background: url(../images/index-adbanner_v1.jpg) no-repeat;
    background-size: contain;
    height: 150px;
    margin-bottom: 50px;
}
.title{
    height: 30px;
    line-height: 30px;
    font-weight: 900;
}
.sort_box{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.sort_box ul{
    padding: 0;
    margin: 0;
}
.sort_box ul li{
    list-style: none;
    padding: 10px;
}
.sort_box ul li a{
    color: black;
}
.margin_top_30{
    margin-top: 30px;
}
.banner_md img{
    width: 100%;
}